.showgrid {
  padding: 5px;
}

.row {
  align-items: center;
}

.showgrid > div {

  // background-color: lavender;
  // border: 1px solid rgba(0, 0, 0, 0.459);
}

.pd-0 > div {
  font-weight: 600;
}


.head{
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 15px;
  padding-left: 5px;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 16px;
}

input{
  color: blue;
}

.shake{
  animation: shake 0.5s;
  border: solid 1px red;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

::ng-deep .swal2-height-auto{
  height: 100vh !important
}


ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}


// ::ng-deep.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
//   background: rgb(0 0 0) !important;
// }


::ng-deep.swal2-loader {
  display: none !important;
  align-items: center;
  justify-content: center;
  width: 2.2em;
  height: 2.2em;
  margin: 0 1.875em;
  animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
  border-width: .25em;
  border-style: solid;
  border-radius: 100%;
  border-color: #2778c4 rgba(0,0,0,0) #2778c4 rgba(0,0,0,0);
}


.bar{
  background: linear-gradient(90deg, rgba(37,0,54,1) 0%, rgba(9,70,121,1) 38%, rgba(0,212,255,1) 100%);
  border-radius: 5px;
}


.setCSS{
  box-shadow: 2px 2px 5px;
  border-radius: 5px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #ff0000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}


.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}



.blacklist{
  background-color: gray;
}

.blacklist_1{
  background-color: gray;
}


.selected{
  background-color: cornflowerblue;
}


::ng-deep.swal2-loader {
  display: none !important;
  align-items: center;
  justify-content: center;
  width: 2.2em;
  height: 2.2em;
  margin: 0 1.875em;
  animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
  border-width: .25em;
  border-style: solid;
  border-radius: 100%;
  border-color: #2778c4 rgba(0,0,0,0) #2778c4 rgba(0,0,0,0);
}

::ng-deep .mat-calendar-body-disabled >.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  color: rgb(255 255 255) !important;
  background-color: #f45d5d3e;
}
