<div [hidden]="show" class="row showgrid setCSS" style="margin: 0rem 20%;background-color: #ffffff52;">
  <div class="col pd-0 ">
    <div class="row bar">
      <label class="setheader">IT asset takeout application form</label>
    </div>
    <div class="row">
      <div class="col pd-0">
        <div class="row showgrid">
          <div class="col-lg-6">
            <label for="">Name <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <input type="text" class="form-control" [ngClass]="{'shake': !this.data.name}" [(ngModel)]="this.data.name"
              (change)="updateInput()" readonly>
          </div>
          <div class="col-lg-6">
            <label for="">Corp div / Div /Dep <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <input type="text" class="form-control" [ngClass]="{'shake': !this.data.CorpDivDep}"
              [(ngModel)]="this.data.CorpDivDep" (change)="updateInput()" readonly>
          </div>
        </div>


        <div class="row showgrid">
          <div class="col-lg-12">
            <label for="">Reason <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <input type="text" class="form-control" [ngClass]="{'shake': !this.data.Reason}"
              [(ngModel)]="this.data.Reason" (change)="updateInput()">
          </div>
        </div>


        <div class="row showgrid">
          <div class="col-lg-6">
            <label for="">IT assets No <sup style="color: red;font-size: 8px;">Required</sup></label>
            <!-- <button class="itasset" (click)="remove('ITassets_1')">
              <img src="assets/cancel.png" alt="" style="width: 20px;">
            </button> -->
            <form [formGroup]="stateForm_1">
              <input class="form-control" id="ITassets_1" type="text" matInput formControlName="stateGroup_1" required
                [matAutocomplete]="autoGroup4" (keyup)="check_empty()" >
              <mat-autocomplete #autoGroup4="matAutocomplete">
                <mat-optgroup style="color: aqua;" *ngFor="let group of stateGroupOptions_1  | async"
                  [label]="group.letter.toUpperCase()">
                  <mat-option *ngFor="let name of group.names;let i = index" [value]="name.toUpperCase()"
                    (onSelectionChange)="dataChange();updateInput();selected(name)"
                    [ngClass]="{'blacklist': group.blacklist[i] == 'T', 'blacklist_1': group.status_return[i] == 'unavailable', 'selected': group.blacklist[i] == 'Z'}"
                    [disabled]="(group.blacklist[i] == 'T' || group.blacklist[i] == 'Z') || group.status_return[i] == 'unavailable' "
                    [matTooltip]="group.reason[i] || null" matTooltipPosition="above">
                    ❁{{name.toUpperCase()}}❁
                  </mat-option>
                  <!-- {{group | json}} -->

                </mat-optgroup>
              </mat-autocomplete>
            </form>
          </div>
          <div class="col-lg-6">
            <label for="">Types of IT assets <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <input type="text" class="form-control" [(ngModel)]="this.data.ITassets_1" readonly>
          </div>
        </div>


        <div class="row showgrid">
          <div class="col-lg-6">
            <label for="">IT assets No </label>
            <!-- <button class="itasset"  (click)="remove('ITassets_2')">
              <img src="assets/cancel.png" alt="" style="width: 20px;">
            </button> -->
            <form [formGroup]="stateForm_1">
              <input class="form-control" id="ITassets_2" type="text" matInput formControlName="stateGroup_2" required
                [matAutocomplete]="autoGroup2" (keyup)="check_empty()" >
              <mat-autocomplete #autoGroup2="matAutocomplete">
                <mat-optgroup style="color: aqua;" *ngFor="let group of stateGroupOptions_2  | async"
                  [label]="group.letter.toUpperCase()">
                  <mat-option *ngFor="let name of group.names;let i = index" [value]="name.toUpperCase()"
                    (onSelectionChange)="dataChange();updateInput();selected(name)"
                    [ngClass]="{'blacklist': group.blacklist[i] == 'T', 'blacklist_1': group.status_return[i] == 'unavailable', 'selected': group.blacklist[i] == 'Z'}"
                    [disabled]="(group.blacklist[i] == 'T' || group.blacklist[i] == 'Z') || group.status_return[i] == 'unavailable' "
                    [matTooltip]="group.reason[i] || null" matTooltipPosition="above">
                    ❁{{name.toUpperCase()}}❁
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </form>
          </div>
          <div class="col-lg-6">
            <label for="">Types of IT assets </label>
            <input type="text" class="form-control" [(ngModel)]="this.data.ITassets_2" readonly>
          </div>
        </div>

        <div class="row showgrid">
          <div class="col-lg-6">
            <label for="">IT assets No </label>
            <!-- <button class="itasset"  (click)="remove('ITassets_3')">
              <img src="assets/cancel.png" alt="" style="width: 20px;">
            </button> -->
            <form [formGroup]="stateForm_1">
              <input class="form-control" id="ITassets_3" type="text" matInput formControlName="stateGroup_3" required
                [matAutocomplete]="autoGroup3" (keyup)="check_empty()" >
              <mat-autocomplete #autoGroup3="matAutocomplete">
                <mat-optgroup style="color: aqua;" *ngFor="let group of stateGroupOptions_3  | async"
                  [label]="group.letter.toUpperCase()">
                  <mat-option *ngFor="let name of group.names;let i = index" [value]="name.toUpperCase()"
                    (onSelectionChange)="dataChange();updateInput();selected(name)"
                    [ngClass]="{'blacklist': group.blacklist[i] == 'T', 'blacklist_1': group.status_return[i] == 'unavailable', 'selected': group.blacklist[i] == 'Z'}"
                    [disabled]="(group.blacklist[i] == 'T' || group.blacklist[i] == 'Z') || group.status_return[i] == 'unavailable' "
                    [matTooltip]="group.reason[i] || null" matTooltipPosition="above">
                    ❁{{name.toUpperCase()}}❁
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </form>
          </div>
          <div class="col-lg-6">
            <label for="">Types of IT assets </label>
            <input type="text" class="form-control" [(ngModel)]="this.data.ITassets_3" readonly>
          </div>
        </div>




        <div class="row showgrid ">
          <div class="col-lg-6">
            <label for="">From (Date) <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <mat-label>Choose a date</mat-label>
              <input [min]="minDate_fromDate" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker"
                style="color: blue;" [(ngModel)]="this.data.FromDate" (dateChange)="updateInput()">
              <mat-datepicker-toggle matIconSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <label for="">To (Date) <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepickerFilter]="myFilter" [min]="minDate" [max]="maxDate" [matDatepicker]="picker2"
                style="color: blue;" [(ngModel)]="this.data.ToDate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row showgrid">
          <div class="col-lg-12">
            <label for="">Special note①</label>
            <input type="text" class="form-control" [(ngModel)]="this.data.SpecialNote">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12" style="padding: 0;">
            <mat-divider style="margin-top: 8px;"></mat-divider>
          </div>
        </div>


        <div [hidden]="show" class="row pt-1">
          <div class="col-lg-12">
            <div class="row" style="justify-content: space-between;margin: 5px;">
              <div class="">
                <button *ngIf="this.mode == 'normal'" [disabled]="this.checkRequired" class="btn btn-info"
                  style="font-weight: 600;" (click)="apply()">
                  <img src="assets/apply.png" style="width: 25px;">
                  Apply</button>
                <button *ngIf="this.mode == 'edit'" [disabled]="this.checkRequired" class="btn btn-info"
                  style="font-weight: 600;" (click)="update()">
                  <img src="assets/apply.png" style="width: 25px;">
                  Update</button>
              </div>
              <div class="">
                <button class="btn" style="background-color: gray;color: white;font-weight: 600;" (click)="cancel()">
                  <img src="assets/cancel.png" style="width: 25px;">
                  Cancel</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>




  </div>



</div>



<!-- <button (click)="removesadsad()"></button> -->




<!-- <button (click)="test_999()">Debug</button> -->
