<app-approve-form [isShow]="false" style="padding: 5rem;"></app-approve-form>


<div *ngIf="this.comment.name" class="row showgrid " style="margin: 5rem 20rem;margin-top: 1rem;">
  <div class="col-lg-12">
    <label for="">{{this.comment.name}} : {{this.comment.time}}</label>
    <input type="text" class="form-control" [(ngModel)]="this.comment.value" readonly>
  </div>
</div>


<div class="row showgrid " style="margin: 1rem 20rem;margin-top: 1rem;" *ngFor="let item of this.ShowComment">
  <div class="col-lg-12" >
    <label for="">{{item.name}} : {{item.time}}</label>
    <input type="text" class="form-control" [value]="item.value" readonly>
  </div>
</div>


