<div class="Asd" style="text-align: -webkit-center;padding: 5rem;">

  <div class="form-structor">
    <div class="signup">
      <h2 class="form-title" id="signup">IT asset takeout</h2>
      <div class="form-holder">
        <input type="text" class="input" placeholder="Username" [(ngModel)]="this.data.username" />
        <input type="password" class="input" placeholder="Password" [(ngModel)]="this.data.password" />
      </div>
      <button class="submit-btn" (click)="submit()">Login</button>
    </div>
  </div>

</div>
