<div class="row" style="margin: 0px;">
  <div class="col-lg-12" style="height: 90vh !important;">


    <div class="row set_radius" style="margin: 0rem 5%;">
      <div class="col setCss bar " style="border-radius: 5px;">
        <label class="setheader">Master IT asset</label>
      </div>


      <div class="col-lg-12">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Office PC">
            <div class="col">
              <div class="row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3"
                      style="background-color: rgb(255, 255, 255);border-right: none;"><img src="assets/search.png"
                        style="width: 25px;"></span>
                  </div>
                  <input style="border-left: none;background-color: rgba(255, 255, 255, 0.998);" type="text"
                    class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="inputFilter"
                    (keyup)="applyFilter1()">
                  <input hidden type="file" id="files" (change)="def_import($event)" multiple="false">
                  <label class="btn btn-info " for="files" style="margin: 2px;"><img src="assets/excel.png" alt=""
                      style="width: 20px;margin: 5px;">Import</label>
                </div>
              </div>
            </div>


            <div class="col " style="padding: 0;">
              <div class="" style="overflow: auto;">
                <table mat-table #sortCol1="matSort" [dataSource]="dataSourcePC" matSort
                  style="background-color: #ffffff15;">
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acton </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="{'set_gray': !Blacklist(element['Host Name'])}">
                      <button class="success mr-1" (click)="def_view(element)"><img src="assets/search-file.png  "
                          matTooltip="View" matTooltipPosition="above" style="width: 21px;" alt=""></button>
                      <button class="blacklist mr-1" *ngIf="Blacklist(element['Host Name'])"
                        (click)="def_black_true(element['Host Name'])" matTooltip="UnLock"
                        matTooltipPosition="above"><img src="assets/unlock_2.png" style="width: 20px;" alt=""></button>
                      <button class="blacklistA mr-1" *ngIf="!Blacklist(element['Host Name'])"
                        (click)="def_black_false(element['Host Name'])" matTooltip="Lock"
                        matTooltipPosition="above"><img src="assets/padlock.png" style="width: 20px;" alt=""></button>
                      <button class="yellow mr-1" *ngIf="ReturnForce(element['Control Code'])"
                        (click)="return_force(element['Host Name'],element['Type'])" matTooltip="Lock"
                        matTooltipPosition="above"><img src="assets/product-return.png" style="width: 20px;"
                          alt=""></button>
                    </td>
                  </ng-container>
                  <div *ngFor="let item of row">
                    <ng-container [matColumnDef]="item.header">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.header}} </th>
                      <td mat-cell *matCellDef="let element" [ngClass]="{'set_gray': !Blacklist(element['Host Name'])}">
                        {{element[item.value]}} </td>
                    </ng-container>
                  </div>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>

              </div>
              <mat-paginator #paginator1 [pageSizeOptions]="[6, 20,100]" showFirstLastButtons
                aria-label="Select page of periodic elements" style="background-color: #ffffff15;">
              </mat-paginator>
            </div>
          </mat-tab>




          <mat-tab label="Mouse">
            <div class="col">
              <div class="row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3"
                      style="background-color: rgb(255, 255, 255);border-right: none;"><img src="assets/search.png"
                        style="width: 25px;"></span>
                  </div>
                  <input style="border-left: none;background-color: rgba(255, 255, 255, 0.998);" type="text"
                    class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="inputFilter"
                    (keyup)="applyFilter2()">
                  <input hidden type="file" id="files" (change)="def_import_mouse($event)" multiple="false">
                  <label class="btn btn-info " for="files" style="margin: 2px;"><img src="assets/excel.png" alt=""
                      style="width: 20px;margin: 5px;">Import</label>
                </div>
              </div>
            </div>
            <div class="col " style="padding: 0;">
              <div class="" style="overflow: auto;">
                <table mat-table #sortCol2="matSort" [dataSource]="dataSourceMouse" matSort
                  style="background-color: #ffffff15;">
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acton </th>
                    <td mat-cell *matCellDef="let element"
                      [ngClass]="{'set_gray': !Blacklist(element['Control Code'])}">
                      <button class="success mr-1" (click)="def_view(element)"><img src="assets/search-file.png  "
                          matTooltip="View" matTooltipPosition="above" style="width: 21px;" alt=""></button>
                      <button class="blacklist mr-1" *ngIf="Blacklist(element['Control Code'])"
                        (click)="def_black_true(element['Control Code'])" matTooltip="UnLock"
                        matTooltipPosition="above"><img src="assets/unlock_2.png" style="width: 20px;" alt=""></button>
                      <button class="blacklistA mr-1" *ngIf="!Blacklist(element['Control Code'])"
                        (click)="def_black_false(element['Control Code'])" matTooltip="Lock"
                        matTooltipPosition="above"><img src="assets/padlock.png" style="width: 20px;" alt=""></button>
                      <button class="yellow mr-1" *ngIf="ReturnForce(element['Control Code'])"
                        (click)="return_force(element['Control Code'],'Mouse')" matTooltip="Lock"
                        matTooltipPosition="above"><img src="assets/product-return.png" style="width: 20px;"
                          alt=""></button>
                    </td>
                  </ng-container>
                  <div *ngFor="let item of H_Mouse">
                    <ng-container [matColumnDef]="item.header">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.header}} </th>
                      <td mat-cell *matCellDef="let element"
                        [ngClass]="{'set_gray': !Blacklist(element['Control Code'])}">
                        {{element[item.value]}} </td>
                    </ng-container>
                  </div>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>

              </div>
              <mat-paginator #paginator2 [pageSizeOptions]="[6, 20,100]" showFirstLastButtons
                aria-label="Select page of periodic elements" style="background-color: #ffffff15;">
              </mat-paginator>
            </div>
          </mat-tab>



          <mat-tab label="Keypad-Keyboard">
            <div class="col">
              <div class="row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3"
                      style="background-color: rgb(255, 255, 255);border-right: none;"><img src="assets/search.png"
                        style="width: 25px;"></span>
                  </div>
                  <input style="border-left: none;background-color: rgba(255, 255, 255, 0.998);" type="text"
                    class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="inputFilter"
                    (keyup)="applyFilter3()">
                  <input hidden type="file" id="files" (change)="def_import_keypadkeyboard($event)" multiple="false">
                  <label class="btn btn-info " for="files" style="margin: 2px;"><img src="assets/excel.png" alt=""
                      style="width: 20px;margin: 5px;">Import</label>
                </div>
              </div>
            </div>
            <div class="col " style="padding: 0;">
              <div class="" style="overflow: auto;">
                <table mat-table #sortCol3="matSort" [dataSource]="dataSourceKeyPad" matSort
                  style="background-color: #ffffff15;">
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acton </th>
                    <td mat-cell *matCellDef="let element"
                      [ngClass]="{'set_gray': !Blacklist(element['Control Code'])}">
                      <button class="success mr-1" (click)="def_view(element)"><img src="assets/search-file.png  "
                          matTooltip="View" matTooltipPosition="above" style="width: 21px;" alt=""></button>
                      <button class="blacklist mr-1" *ngIf="Blacklist(element['Control Code'])"
                        (click)="def_black_true(element['Control Code'])" matTooltip="UnLock"
                        matTooltipPosition="above"><img src="assets/unlock_2.png" style="width: 20px;" alt=""></button>
                      <button class="blacklistA mr-1" *ngIf="!Blacklist(element['Control Code'])"
                        (click)="def_black_false(element['Control Code'])" matTooltip="Lock"
                        matTooltipPosition="above"><img src="assets/padlock.png" style="width: 20px;" alt=""></button>
                      <button class="yellow mr-1" *ngIf="ReturnForce(element['Control Code'])"
                        (click)="return_force(element['Control Code'],'Keypad Keyboard')" matTooltip="Lock"
                        matTooltipPosition="above"><img src="assets/product-return.png" style="width: 20px;"
                          alt=""></button>
                    </td>
                  </ng-container>
                  <div *ngFor="let item of H_KeyPad">
                    <ng-container [matColumnDef]="item.header">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.header}} </th>
                      <td mat-cell *matCellDef="let element"
                        [ngClass]="{'set_gray': !Blacklist(element['Control Code'])}">
                        {{element[item.value]}} </td>
                    </ng-container>
                  </div>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                </table>

              </div>
              <mat-paginator #paginator3 [pageSizeOptions]="[6, 20,100]" showFirstLastButtons
                aria-label="Select page of periodic elements" style="background-color: #ffffff15;">
              </mat-paginator>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
