<div class="col-lg-12" >
  <!-- <label class="pt-2" for="">
    <h1 style="font-weight: 600">detail</h1>
  </label> -->


  <div class="col-lg-12 pt-2">
    <div class="row">
      <label for="" style="font-weight: 600;font-size: 18px;">Detail</label>
    </div>
  </div>

  <div class="col-lg-12" style="border: solid 1px;border-radius: 8px">
    <div class="row mg">
      <div class="col-lg-6">
        <label for="">No.</label>
        <p>{{this.data["Temp_No."]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Recode Data</label>
        <p>{{this.data["Temp_RecordDate"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Take out no.</label>
        <p>{{this.data["Temp_Take out no."]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Requester</label>
        <p>{{this.data["Temp_Requester"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Department</label>
        <p>{{this.data["CorpDivDep"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Reason</label>
        <p>{{this.data["Reason"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Take out period</label>
        <p>{{this.data["Temp_Take out period"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Q'ty (day)s</label>
        <p>{{this.data["Temp_Q'ty"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Remain (day)</label>
        <p>{{this.data["Temp_Remain"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Return Date</label>
        <p>{{this.data["Temp_ReturnDate"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Return over dun date(day)</label>
        <p>{{this.data["Temp_ReturnOver"]}}</p>
      </div>
      <div class="col-lg-6">
        <label for="">Return no</label>
        <p>{{this.data["Temp_ReturnNo"]}}</p>
      </div>
    </div>
  </div>



  <div class="row" *ngFor="let item of this.assetItem;let i = index">
    <div class="col-lg-12">
      <div class="col-lg-12 pt-2">
        <div class="row">
          <label for="" style="font-weight: 600;font-size: 18px;">IT Asset {{i+1}}</label>
        </div>
      </div>

      <div class="col-lg-12 pb-3" >
        <div class="row mg" style="border: solid 1px;border-radius: 8px">
          <div class="col-lg-6">
            <label for="">Item Type.</label>
            <p>{{item["Type"]}}</p>
          </div>
          <div class="col-lg-6">
            <label for="">Item No.</label>
            <p>{{item["Host Name"]}}</p>
          </div>
          <div class="col-lg-6">
            <label for="">Last Requester</label>
            <p>-</p>
          </div>
          <div class="col-lg-6">
            <label for="">Last Take out date</label>
            <p>-</p>
          </div>
          <div class="col-lg-6">
            <label for="">Last Return no</label>
            <p>-</p>
          </div>
          <div class="col-lg-6">
            <label for="">Last Return Date</label>
            <p>-</p>
          </div>
        </div>
      </div>
    </div>
  </div>








</div>



