<app-login *ngIf="!this.CheckLogin"></app-login>

<mat-toolbar *ngIf="this.CheckLogin" color="primary" style="background-color: #9cabff"
  class="d-flex justify-content-between">
  <span>
    <button class="offh" style="width: 20%;background-color: #9cabff;border: aqua;" (click)="drawer.toggle()"
      [matBadge]="this.data.length" [matBadgeHidden]="this.data.length == 0" matBadgeColor="warn">
      <!-- <mat-icon style="vertical-align: middle;">menu</mat-icon> -->
      <img src="./assets/IconMain.png" alt="Italian Trulli" style="width: 100%;    vertical-align: middle;">
    </button>

  </span>
  <button mat-button [matMenuTriggerFor]="menu">{{this.name}}</button>
  <mat-menu #menu="matMenu">
    <!-- <div class="row" style="width: 1px;">
      <div class="col-lg-1">
        <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="setting()">
          <i class="bi bi-sliders mr-1" ></i>
          <span>Setting</span>
        </button>
      </div>
    </div> -->
    <div class="row" style="width: 1px;">
      <div class="col-lg-1">
        <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="logout()">
          <i class="bi bi-box-arrow-right mr-1"></i>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </mat-menu>

</mat-toolbar>

<mat-drawer-container [hidden]="!this.CheckLogin" class="example-container">
  <mat-drawer #drawer mode="over" [opened]="open" style="color: aqua; width: auto;padding-top: 5rem;">
    <app-sidenav (dataChange)="drawer.toggle()" *ngIf="this.CheckLogin"></app-sidenav>
  </mat-drawer>
  <mat-drawer-content style="padding-top: 5rem;background-image: url('assets/12858.jpg')">
    <router-outlet *ngIf="this.CheckLogin"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
