<div class="col setCenter" style="padding-top :10px">
  <div class="button-back">
    <button class="clean " (click)="PreviousPage()">
      <img style="width: 35px;" src="assets/back.png " alt="">
    </button>
  </div>
  <div class="row" style="place-content: center;width: 110vh;">
    <div class="col">

      <app-status-monitor *ngIf="data_status" [(data_status)]="data_status"></app-status-monitor>

      <div class="row showgrid set_radius" style="margin: 0rem 0rem;margin-top: 0rem; background-color: #ffffff5e;">
        <div class="col pd-0 ">
          <div class="row bar redius" style="padding: 0px;">
            <label class="setheader" style="font-size: 18px;" *ngIf="this.type == 1">{{this.ControlID}} :
              Approve IT asset takeout application form</label>
            <label class="setheader" style="font-size: 18px;" *ngIf="this.type == 2">{{this.ControlID}} :
              Approve IT asset extend confirmation</label>
          </div>

          <mat-card style="padding: 8px;margin-top: 8px;">
          <div class="row">
            <div class="col pd-0 " style="width: 70vh;">
              <div class="row showgrid">
                <div class="col-lg-6">
                  <label for="">Name <sup style="color: red;font-size: 8px;">Required</sup> </label>
                  <input type="text" class="form-control" [(ngModel)]="this.data.name" readonly>
                </div>
                <div class="col-lg-6">
                  <label for="">Corp div / Div /Dep <sup style="color: red;font-size: 8px;">Required</sup> </label>
                  <input type="text" class="form-control" [(ngModel)]="this.data.CorpDivDep" readonly>
                </div>
              </div>

              <div class="row showgrid">
                <div class="col-lg-12">
                  <input type="checkbox" id="vehicle1" name="name" [(ngModel)]="!Need_OT" disabled>
                  <span> Not need to submit OT Request</span>
                </div>
                <div class="col-lg-12">
                  <input type="checkbox" id="vehicle2" name="name" [(ngModel)]="Need_OT" disabled>
                  <span> Need submit OT Request </span>
                </div>
              </div>

              <div class="row showgrid">
                <div class="col-lg-12">
                  <label for="">Reason <sup style="color: red;font-size: 8px;">Required</sup> </label>
                  <input type="text" class="form-control" [(ngModel)]="this.data.Reason" readonly>
                </div>
              </div>
              <div class="row">
                <div class="pt-2 col-lg-12" *ngFor="let item of this.data.last_item">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>{{item.name}}</mat-card-title>
                        <mat-card-subtitle>{{item.value}}</mat-card-subtitle>
                        <mat-card-subtitle class="set_color">Period : {{item.period}}</mat-card-subtitle>
                        <mat-card-subtitle *ngIf="item.extend_success" style="color: green;">Extend :
                          {{moment(item.title).format('ll')}}</mat-card-subtitle>
                        <img mat-card-sm-image src="assets/list-items.png">
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button [disabled]="true">EXTEND</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>


              <div class="row showgrid pt-2">
                <div class="col-lg-12">
                  <label for="">Special note①</label>
                  <input type="text" class="form-control" [(ngModel)]="this.data.SpecialNote" readonly>
                </div>
              </div>

            </div>
          </div>
          </mat-card>


          <div class="row">
            <div class="col-lg-12" style="padding: 0;">
              <mat-divider style="margin-top: 20px;"></mat-divider>
            </div>
          </div>


          <div *ngIf="!checkApprove() && this.user.level > this.data.level && !check_reject()" class=" pt-2 button_approve"
            [ngClass]="{'set_center': this.type == 2}" style="justify-content: space-between;">
            <div class="" *ngIf="this.data.Approve_Step == 1" style="padding: 15px;">
              <button class="btn btn-info" (click)="Approve_yes()" style="font-weight: 600;">
                <img src="assets/apply.png" style="width: 25px;">
                Approve</button>
            </div>
            <div *ngIf="!checkApprove() && this.user.level > this.data.level" style="padding: 15px;">
              <button class="btn btn-info" (click)="Approve_no()" style="font-weight: 600;">
                <img src="assets/cancel.png" style="width: 25px;">
                Reject</button>
            </div>
          </div>

          <!-- <div *ngIf="!checkApprove() && this.user.level > this.data.level"
            style="padding: 15px;    text-align-last: center;">
            <button class="btn btn-info" (click)="Approve_yes()" style="font-weight: 600;">
              <img src="assets/apply.png" style="width: 25px;">Approve</button>
          </div>
          <div class="" *ngIf="true" style="padding: 15px;">
            <button class="btn btn-info" (click)="cancel()" style="font-weight: 600;">
              <img src="assets/cancel.png" style="width: 25px;">
              Cancel</button>
          </div> -->




          <ng-container *ngIf="checkApprove()" class="mt-3">
            <div class="row showgrid pt-2" style="place-content: center">
              <label>Approved by {{this.data.last_item[0]?.Approve_by}}
                {{moment(this.data.last_item[0]?.Approve_time).format('l H:mm:ss')}} </label>
            </div>
          </ng-container>


          <ng-container *ngIf="check_reject()" class="mt-3">
            <div class="row showgrid pt-2" style="place-content: center">
              <label>Reject by {{this.data.last_item[0]?.Approve_by}}
                {{moment(this.data.last_item[0]?.Approve_time).format('l H:mm:ss')}} </label>
            </div>
          </ng-container>


          <div *ngIf="true" class="row" style="justify-content: center;">
            <div class="col-lg-12">



              <!-- <ng-container *ngIf="checkApprove()">
                <div  class="row showgrid pt-2 button_approve"
                  [ngClass]="{'set_center': this.type == 2}">
                  <div class="" *ngIf="this.data.Approve_Step == 1" style="padding: 15px;">
                    <button class="btn btn-info" (click)="Approve_yes()" style="font-weight: 600;">
                      <img src="assets/apply.png" style="width: 25px;">
                      Approve</button>
                  </div>
                  <div class="" *ngIf="this.data.Approve_Step == 1 && this.type != 2" style="padding: 15px;">
                    <button class="btn btn-info" (click)="Approve_no()" style="font-weight: 600;">
                      <img src="assets/cancel.png" style="width: 25px;">
                      Reject</button>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!checkApprove()">
                <div class="row showgrid pt-2" style="place-content: center">
                  <label *ngIf="this.data.Approve_by">Approved by {{this.data.Approve_by}}
                    {{moment(this.data.Apply_Date_Latest).format('l H:mm:ss')}} </label>
                  <label *ngIf="!this.data.Approve_by">Approved {{this.data.Approve_by}}
                    {{moment(this.data.Apply_Date_Latest).format('l H:mm:ss')}} </label>
                </div>
              </ng-container> -->








            </div>
          </div>


        </div>
      </div>



    </div>
  </div>
</div>
