<div class="col setCenter" style="padding-top :15px">
  <div class="button-back">
    <button class="clean " (click)="PreviousPage()">
      <img style="width: 35px;" src="assets/back.png " alt="">
    </button>
  </div>

  <div class="row" style="place-content: center;width: 110vh;;">
    <div class="col">

      <app-status-monitor *ngIf="data_status" [(data_status)]="data_status"> </app-status-monitor>


      <div class="row showgrid set_radius" style="margin: 0rem 0rem;margin-top: 0rem; background-color: #ffffff5e;">
        <div class="col pd-0 ">
          <div class="row bar redius" style="padding: 0px;">
            <label class="setheader" style="font-size: 18px;" *ngIf="this.type == 1">{{this.ControlID}} :
              Approve IT asset takeout application form</label>
            <label class="setheader" style="font-size: 18px;" *ngIf="this.type == 2">{{this.ControlID}} :
              Approve IT asset return confirmation</label>
            <label class="setheader" style="font-size: 18px;" *ngIf="this.type == 3">{{this.ControlID}} :
              Approve IT asset return confirmation</label>
          </div>

          <mat-card style="padding: 8px;margin-top: 8px;">
            <div *ngIf="this.type == 1" class="row">
              <div class="col pd-0">
                <div class="row showgrid">



                  <div class="col-lg-6">
                    <label for="">Name <sup style="color: red;font-size: 8px;">Required</sup> </label>
                    <input type="text" class="form-control" [(ngModel)]="this.data.name" readonly>
                  </div>
                  <div class="col-lg-6">
                    <label for="">Corp div / Div /Dep <sup style="color: red;font-size: 8px;">Required</sup> </label>
                    <input type="text" class="form-control" [(ngModel)]="this.data.CorpDivDep" readonly>
                  </div>
                </div>
                <div class="row showgrid">
                  <div class="col-lg-12">
                    <label for="">Reason <sup style="color: red;font-size: 8px;">Required</sup> </label>
                    <input type="text" class="form-control" [(ngModel)]="this.data.Reason" readonly>
                  </div>
                </div>


                <div class="row">
                  <div class="pt-2 col-lg-12" *ngFor="let item of data.item">
                    <mat-card class="example-card" style="font-weight: 600%;">
                      <mat-card-header>
                        <mat-card-title-group>
                          <mat-card-title>{{item.name}}</mat-card-title>
                          <mat-card-subtitle>{{item.value}}</mat-card-subtitle>
                          <mat-card-subtitle class="set_color">Period : {{item.period}}
                          </mat-card-subtitle>
                          <mat-card-subtitle style="color: green;">Apply date : {{moment(item.time).format('ll')}}
                          </mat-card-subtitle>
                          <img mat-card-sm-image src="assets/list-items.png">
                        </mat-card-title-group>
                      </mat-card-header>
                      <mat-card-content>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button [disabled]="true" *ngIf="this.type == 1">TAKEOUT</button>
                        <button mat-button [disabled]="true" *ngIf="this.type == 2">RETURN</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>




                <div class="row showgrid">
                  <div class="col-lg-12">
                    <label for="">Special note①</label>
                    <input type="text" class="form-control" [(ngModel)]="this.data.SpecialNote" readonly>

                  </div>
                </div>

                <!-- <div class="row">
                <div class="col-lg-12">
                  <mat-divider style="margin-top: 8px;"
                   *ngIf="this.data.Approve_Status == 'reject' && this.data.name == this.user.full_name"></mat-divider>
                </div>
              </div> -->


                <div class="row pt-1"
                  *ngIf="this.data.Approve_Status == 'reject' && this.data.name == this.user.full_name">
                  <div class="col-lg-12">
                    <div class="row" style="justify-content: space-between;margin: 5px;">
                      <div class="">
                        <button class="btn btn-info" (click)="edit()">
                          <img src="assets/apply.png" style="width: 25px;"> Edit</button>
                      </div>
                      <div class="">
                        <button class="btn" style="background-color: gray;color: white;" (click)="cancel()">
                          <img src="assets/delete_1.png" style="width: 25px;"> Delete</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </mat-card>


          <div class="row">
            <div class="col-lg-12" style="padding: 0;">
              <mat-divider style="margin-top: 20px;"></mat-divider>
            </div>
          </div>


          <div *ngIf="true" class="row" style="justify-content: center;">
            <div class="col-lg-12">
              <div *ngIf="isShow" class="row showgrid pt-1" style="margin: 0rem 0rem;margin-top: 5px;">
                <div class="col-lg-12" style="padding: 0;" *ngFor="let item of this.DataComment">
                  <label for="">{{item.name}} : {{item.Last_Apply_Date}}</label>
                  <textarea class="form-control" [value]="item.Comment" readonly name="w3review" rows="4"></textarea>
                </div>
              </div>


              <div *ngIf="mode == 1" class="row showgrid pt-2 button_approve"
                [ngClass]="{'set_center': this.type == 2}">
                <div class="" *ngIf="this.data.Approve_Step == 1" style="padding: 15px;">
                  <button class="btn btn-info" (click)="Approve_yes()" style="font-weight: 600;">
                    <img src="assets/apply.png" style="width: 25px;">
                    Approve</button>
                </div>
                <div class="" *ngIf="this.data.Approve_Step == 1 && this.type != 2" style="padding: 15px;">
                  <button class="btn btn-info" (click)="Approve_no()" style="font-weight: 600;">
                    <img src="assets/cancel.png" style="width: 25px;">
                    Reject</button>
                </div>
              </div>


              <div *ngIf="mode == 0" class="row showgrid pt-2 button_approve">
                <div class="" *ngIf="true" style="padding: 15px;">
                  <button class="btn btn-info" (click)="edit()" style="font-weight: 600;">
                    <img src="assets/edit.png" style="width: 25px;">
                    Edit</button>
                </div>
                <div class="" *ngIf="true" style="padding: 15px;">
                  <button class="btn btn-info" (click)="cancel()" style="font-weight: 600;">
                    <img src="assets/cancel.png" style="width: 25px;">
                    Cancel</button>
                </div>
              </div>

              <div *ngIf="this.data.Approve_Step == 2" class="row showgrid pt-2" style="place-content: center">
                <label *ngIf="this.data.Approve_by">Approved by {{this.data.Approve_by}}
                  {{moment(this.data.Approve_time).format('l H:mm:ss')}} </label>
                <label *ngIf="!this.data.Approve_by">Approved {{this.data.Approve_by}}
                  {{moment(this.data.Approve_time).format('l H:mm:ss')}} </label>
              </div>


              <div *ngIf="this.data.Approve_Step == 0" class="row showgrid pt-2" style="place-content: center">
                <label>Reject {{moment(this.data.Apply_Date_Latest).format('l H:mm:ss')}} </label>
              </div>

            </div>
          </div>


        </div>
      </div>

      <div *ngIf="mode == 0" class="row showgrid set_radius mt-3 mb-3"
        style="margin: 0rem 0rem;margin-top: 0rem; background-color: #ffffff5e;">
        <div class="col pd-0 ">
          <div class="row bar redius" style="padding: 0px;">
            <label class="head" style="color: white;">{{this.data?.reason?.name}} : {{
              moment(this.data?.reason?.date).format('ll h:mm:ss')}}</label>
          </div>

          <div class="row " style="padding: 0px;">
            <textarea name="" id="" rows="5" style="width: -webkit-fill-available;
            height: -webkit-fill-available;background-color: initial;"
              readonly>Comment : {{this.data?.reason?.comment}}</textarea>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
