
.mat-drawer {
  width: 200rem;
}

.mat-expansion-panel-header.mat-expanded {
  height: auto;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn{
  border: none;
}

.btn:active {
  outline: none;
  border: none;
  div#subnav a.active {background: #f1f2f2;}
}
.button:active:hover {
  background-color:#002ead;
  transition: 0.7s;
}

.active, .btn:hover {
  box-shadow: #ff0000;
  color: rgb(0, 0, 255);
}


:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

::ng-deep .demo-section + .demo-section {
  margin-bottom: 50px!important;
}


::ng-deep .mat-expansion-panel-body {
  padding: 0 24px 0px !important;
}


.test{
  color: #002ead;
}



::ng-deep .is-active{
  color: blue !important;
  width: 100%;
  background-color: white;
  text-align: left;
}


::ng-deep .mat-badge.mat-badge {
  overflow: visible;
  /* padding: 11px; */
  padding-top: 0px;
}


.blacklist{
  opacity: 20%;
}


::ng-deep.swal2-loader {
  display: none !important;
  align-items: center;
  justify-content: center;
  width: 2.2em;
  height: 2.2em;
  margin: 0 1.875em;
  animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
  border-width: .25em;
  border-style: solid;
  border-radius: 100%;
  border-color: #2778c4 rgba(0,0,0,0) #2778c4 rgba(0,0,0,0);
}


.hideeff{
  background-color: inherit;
  border: inherit;
  outline: inherit;
  cursor: pointer;
}
