<div class="row showgrid" style="margin: 1rem 20rem; border: solid;">
  <div class="col pd-0 ">
    <div class="row " style="background-color: aqua;">
      <label class="head">IT asset takeout application form</label>
    </div>
    <div *ngIf="this.data?.name" class="row">
      <div class="col pd-0">
        <div class="row showgrid">
          <div class="col-lg-6">
            <label for="">Name <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <input type="text" class="form-control" [ngClass]="{'shake': !this.data.name}" [(ngModel)]="this.data.name"
              (change)="updateInput()">
          </div>
          <div class="col-lg-6">
            <label for="">Corp div / Div /Dep <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <input type="text" class="form-control" [ngClass]="{'shake': !this.data.CorpDivDep}"
              [(ngModel)]="this.data.CorpDivDep" (change)="updateInput()">
          </div>
        </div>
        <div class="row showgrid">
          <div class="col-lg-12">
            <label for="">Reason <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <input type="text" class="form-control" [ngClass]="{'shake': !this.data.Reason}"
              [(ngModel)]="this.data.Reason" (change)="updateInput()">
          </div>
        </div>
        <div class="row showgrid">
          <div class="col-lg-6">
            <label for="">Types of IT assets <sup style="color: red;font-size: 8px;">Required</sup></label>
            <select style="color: blue;" class="form-control" (change)="dataChange();updateInput()"
              [(ngModel)]="this.dataShow.ITassets_1" [ngClass]="{'shake': !this.dataShow.ITassets_1}">
              <option *ngFor="let item of this.device;let i = index" [value]="item._id">{{item.Type}}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="">IT assets No <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <input type="text" class="form-control" [(ngModel)]="this.data.ITassetsNo_1" readonly>
          </div>
        </div>
        <div class="row showgrid">
          <div class="col-lg-6">
            <label for="">Types of IT assets </label>
            <select style="color: blue;" class="form-control" (change)="dataChange()"
              [(ngModel)]="this.dataShow.ITassets_2">
              <option id="test" *ngFor="let item of this.device;let i = index" [value]="item._id">{{item.Type}}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="">IT assets No </label>
            <input type="text" class="form-control" [(ngModel)]="this.data.ITassetsNo_2" readonly>
          </div>
        </div>
        <div class="row showgrid">
          <div class="col-lg-6">
            <label for="">Types of IT assets </label>
            <select style="color: blue;" class="form-control" (change)="dataChange()"
              [(ngModel)]="this.dataShow.ITassets_3">
              <option id="test" *ngFor="let item of this.device;let i = index" [value]="item._id">{{item.Type}}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="">IT assets No </label>
            <input type="text" class="form-control" [(ngModel)]="this.data.ITassetsNo_3" readonly>
          </div>
        </div>

        <div class="row showgrid " style="height: 6rem;">
          <div class="col-lg-6">
            <label for="">From (Date) <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <br>
            <mat-form-field class="example-full-width" style="width: 100%;">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" style="color: blue;" [(ngModel)]="this.data.FromDate"
                (dateChange)="updateInput()">
              <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <label for="">To (Date) <sup style="color: red;font-size: 8px;">Required</sup> </label>
            <br>
            <mat-form-field class="example-full-width" style="width: 100%;" [ngClass]="{'shake': !this.data.ToDate}">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker1" style="color: blue;" [(ngModel)]="this.data.ToDate"
                (dateChange)="updateInput()">
              <mat-datepicker-toggle matIconSuffix [for]="picker1">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row showgrid">
          <div class="col-lg-12">
            <label for="">Special note①</label>
            <input type="text" class="form-control" [(ngModel)]="this.data.SpecialNote">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="row showgrid" style="margin: 1rem 20rem;width: fit-content;">
  <!-- <div class="col">
    <button class="btn btn-info">SAVE</button>
  </div> -->
  <div class="col">
    <button *ngIf="this.mode == 'normal'" [disabled]="this.checkRequired" class="btn btn-info"
      (click)="apply()">Apply</button>
    <button *ngIf="this.mode == 'edit'" [disabled]="this.checkRequired" class="btn btn-info"
      (click)="update()">Update</button>
  </div>
  <div class="col">
    <button class="btn btn-info" (click)="cancel()">Cancel</button>
  </div>
  <!-- <div class="col">
    <button class="btn btn-info">Attach</button>
  </div> -->
  <div class="col">
    <button class="btn btn-info" (click)="ChangeFlow()">Change Flow</button>
  </div>
</div>
